#
#   
#
# Copyright 1990-2006 Sun Microsystems, Inc. All Rights Reserved.
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER
#
###############################################################################
# This file specifies the romized classes that should be initialized
# at build time/VM load time.
#
# CHAPI 1.0 Declarations

# Classes that should be initialized at build-time instead of run-time
#
#InitAtBuild = 

# Do not rename the fields of the following classes because
# they are accessed via KNI_GetFieldID
#
DontRenameNonPublicFields = javax.microedition.content.Registry
DontRenameNonPublicFields = javax.microedition.content.Invocation
DontRenameNonPublicFields = javax.microedition.content.ContentHandler
DontRenameNonPublicFields = javax.microedition.content.ContentListener
DontRenameNonPublicFields = javax.microedition.content.ContentHandlerServer
DontRenameNonPublicFields = javax.microedition.content.ContentHandlerException
DontRenameNonPublicFields = javax.microedition.content.ActionNameMap
DontRenameNonPublicFields = com.sun.midp.content.InvocationImpl
DontRenameNonPublicFields = com.sun.midp.content.ContentHandlerImpl

# Do not rename the following classes because they are instantiated
# via Class.forName() or KNI_FindClass
#
DontRenameClass = com.sun.midp.content.InvocationImpl
DontRenameClass = com.sun.midp.content.InvocationStore
DontRenameClass = com.sun.midp.content.ContentHandlerImpl
DontRenameClass = com.sun.midp.content.RegistryImpl
DontRenameClass = com.sun.midp.content.CHManager
DontRenameClass = com.sun.midp.content.CHManagerImpl
DontRenameClass = javax.microedition.content.Registry
DontRenameClass = javax.microedition.content.Invocation
DontRenameClass = javax.microedition.content.ContentHandler
DontRenameClass = javax.microedition.content.ContentListener
DontRenameClass = javax.microedition.content.ContentHandlerServer
DontRenameClass = javax.microedition.content.ContentHandlerException
DontRenameClass = javax.microedition.content.ActionNameMap
DontRenameClass = com.sun.midp.installer.CHAutoTester

# Do not rename the following classes because their names are
# checked during security subsystem initialization
#
# JSR 211
DontRenameClass = javax.microedition.content.Registry$SecurityTrusted
DontRenameClass = com.sun.midp.content.RegistryImpl$SecurityTrusted

# These packages are hidden
# Non-romized code is prevented from accessing even public methods/fields
# of classes in these packages,
# i.e. disable application visibility to CHAPI implementation
HiddenPackage = com.sun.midp.content

# These packages are restricted
# Non-romized code cannot load new classes into them
#
RestrictedPackage = javax.microedition.content

# Quick native functions are smaller in ROM footprint and are faster to invoke.
# Do not use quick native for Java native function calls that have
# KNIxxxNewxxx, SNIxxxNewxxx, Throw, and SNI_ statements.
#
#QuickNative = 

# Classes/methods that should be pre-compiled 
#
#Precompile =
 
