#
#  
#
# Copyright 1990-2006 Sun Microsystems, Inc. All Rights Reserved.
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER
#
###############################################################################
# This file specifies the romized crypto classes that should be initialized
# at build time/VM load time or not renamed.
#

# Classes that should be initialized at build-time instead of run-time
#
InitAtBuild = com.sun.midp.crypto.AES
InitAtBuild = com.sun.midp.crypto.ARC4
InitAtBuild = com.sun.midp.crypto.DES
InitAtBuild = com.sun.midp.crypto.DESEDE
InitAtBuild = com.sun.midp.crypto.RSA
InitAtBuild = com.sun.midp.crypto.RsaMd5Sig
InitAtBuild = com.sun.midp.crypto.RsaShaSig
InitAtBuild = com.sun.midp.crypto.BlockCipherBase
InitAtBuild = com.sun.midp.crypto.DES_ECB
InitAtBuild = com.sun.midp.crypto.DES_CBC
InitAtBuild = com.sun.midp.crypto.AES_ECB
InitAtBuild = com.sun.midp.crypto.AES_CBC
InitAtBuild = com.sun.midp.crypto.RSASig

# Do not rename the following classes because they are instantiated
# via Class.forName() or used by test MIDlets not in ROM
#
DontRenameClass = com.sun.midp.crypto.AES
DontRenameClass = com.sun.midp.crypto.ARC4
DontRenameClass = com.sun.midp.crypto.DES
DontRenameClass = com.sun.midp.crypto.DESEDE
DontRenameClass = com.sun.midp.crypto.RSA
DontRenameClass = com.sun.midp.crypto.RsaMd5Sig
DontRenameClass = com.sun.midp.crypto.RsaShaSig
