#
#
# Copyright 1990-2006 Sun Microsystems, Inc. All Rights Reserved.
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER
#
###############################################################################
# This file specifies the romized classes that should be initialized
# at build time/VM load time.
#

# Classes that should be initialized at build-time instead of run-time
#
# usage:
# InitAtBuild = javax.microedition.lcdui.Alert

# Do not rename the fields of the following classes because
# they are accessed via KNI_GetFieldID
#
DontRenameNonPublicFields = com.sun.mmedia.QSoundGlobalEffectModule

# Do not rename the following classes because they are instantiated
# via Class.forName()
#
#DontRenameClass = com.sun.mmedia.SomeClass

# These packages are hidden 
# Non-romized code is prevented from accessing even public methods/fields
# of classes in these packages
#
#HiddenPackage = com.sun.mmedia.some_package

# These packages are restricted
# Non-romized code cannot load new classes into them
#
#RestrictedPackage = javax.something

